.App {
  width: 90vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightcyan;

  .title {
    height: 6vh;
    margin: 4vh 0;
    background-color: bisque;
  }

  .game-container {
    width: 100%;
    height: 90vh;
    display: flex;
    // background-color: teal;

    @media screen and (orientation:portrait) {
      flex-direction: column;
      
    }
  
    @media screen and (orientation:landscape) {
      flex-direction: row;
    }
  }
}