.CardComponent {
  > .card-container {
    padding: 1rem;
    background-color: black;
    border-radius: 10%;

    > img {
      height: 100%;
    }
  }

  .disable-click {
    pointer-events: none;
  }

  & .open {
    @extend .disable-click;
    background-color: white;
  }

  & .matched {
    @extend .disable-click;
    background-color: green;
  }
}
