.Dashboard {
  font-size: 2rem;
  background-color: brown;
  width: 100%;
  display: grid;
  direction: rtl;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  @media screen and (min-width: 451px) and (orientation:portrait) {
    height: 6rem;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(120px, 1fr) minmax(5rem, 1fr) minmax(120px, 1fr);
  }

  @media screen and (orientation:landscape) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 15vw;
    max-width: 15vw;
    margin: 0;
    background-color: red;
  }
}