@import '../variables.scss';

.DashboardButtons {
  &.disabled {
    color: grey;
    pointer-events: none;
  }

  @media screen and (orientation:portrait) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 450px) and (orientation:portrait) {
    grid-column: 1 / 4;
  }


  @media screen and (min-width: 451px) and (orientation:portrait) {
    grid-column: 1 / 2;
  }

  @media screen and (orientation:landscape) {
    display: grid;
    grid-template-rows: 50% 50%;
  }

  .button {
    cursor: pointer;
    font-size: $small-button;

    @media screen and (orientation:landscape) {
      font-size: $large-button;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > i {
      @media screen and (orientation:portrait) {
        min-width: 60px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (orientation:landscape) {
    
      }
    }
  }

  .button:hover {
    color: blue;
  }

  .pause-button {
    @extend .button;
  }

  .restart-button {
    @extend .button;
  }
}