.Deck {
  padding: 2vh 0;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-grid {
    width: 100%;
    display: grid;
    grid-template: repeat(4, 22%) / repeat(4, 22%);
    gap: 2% 2%;
    justify-content: center;
    align-content: center;

    @media screen and (orientation:portrait) {
      max-height: 70vh;
      max-width: 70vh;
    }
  
    @media screen and (orientation:landscape) {
      max-height: 85vh;
      max-width: 85vh;
    }
  }
}