.Deck {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: yellow;  

  @media screen and (orientation:portrait) {
    flex-direction: column;
    padding-top: 5vh;
  }

  @media screen and (orientation:landscape) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .grid-container {
    @media screen and (orientation:portrait) {
      position: relative;
      padding-bottom: 100%;
    }
  
    @media screen and (orientation:landscape) {
      width: 100%;
      height: 100%;
      max-width: 80vh;
      max-height: 80vh;
    }

    .card-grid {
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      align-content: center;
      justify-content: center;
      grid-template: repeat(4, 22%) / repeat(4, 22%);
      grid-gap: 2% 2%;
      
      @media screen and (orientation:portrait) {
        max-width: 70vh;
        max-height: 70vh;
      }
    
      @media screen and (orientation:landscape) {
        max-width: 80vh;
        max-height: 80vh;
      }
    }
  }

}