.ModalContainer {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .Modal {
    max-width: 80%;

    > main {
      background-color: white;
      padding: 1rem;
    }
  }
}