.Moves {
  grid-column: 2 / 4;
  // min-width: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  background-color: lightcoral;

  @media screen and (min-width: 451px) and (orientation:portrait) {
    grid-column: 3 / 4;
    flex-direction: column;
  }

  @media screen and (orientation:landscape) {
    display: flex;
    flex-direction: column;
  }
  
  .move-counter {
    direction: initial;
    font-size: 1.6rem;
    text-align: center;

    @media screen and (min-width: 451px) and (orientation:portrait) {
      font-size: 2rem;
    }

    @media screen and (orientation:landscape) {
      min-height: 60px;
      display: flex;
      align-items: center;
    }
  }
}