.Moves {
  grid-column: 2 / 4;
  // min-width: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  background-color: lightcoral;
  
  .move-counter {
    // grid-column: 2 / 4;
  }
}