@import '../variables.scss';

.Moves {
  // background-color: lightcoral;

  @media screen and (orientation:portrait) {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 451px) and (orientation:portrait) {
    grid-column: 3 / 4;
    flex-direction: column;
  }

  @media screen and (orientation:landscape) {
    display: grid;
    grid-template-rows: 50% 50%;
  }
  
  .move-counter {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    direction: initial;
    font-size: $small-font;

    @media screen and (min-width: 451px) and (orientation:portrait) {
      font-size: $large-font;
    }

    @media screen and (orientation:landscape) {
      grid-template-columns: 35% 65%;
      font-size: $large-font;
    }

    .move-value {
      text-align: right;
      padding-right: 0.5rem;
    }
  }
}