@import "../variables.scss";

.Stars {
  display: flex;
  justify-content: center;
  // background-color: plum;

  @media screen and (orientation: landscape) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .star-container {
    display: grid;
    grid-template: ($small-star + 0.1rem) / repeat($maxScore, ($small-star + 0.1rem));
    grid-gap: 0.3rem;
    direction: ltr;
    font-size: $small-star;

    @media screen and (min-width: 451px) and (orientation: portrait) {
      font-size: $medium-star;
      grid-template: ($medium-star + 0.1rem) / repeat($maxScore, ($medium-star + 0.1rem));
    }

    @media screen and (orientation: landscape) {
      font-size: $large-star;
      grid-template: ($large-star + 0.1rem) / repeat($maxScore, ($large-star + 0.1rem));
    }

    .star {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $star;
    }
  }
}
