.Stars {
  font-size: 1.2rem;
  line-height: 1.2rem;
  background-color: plum;

  @media screen and (min-width: 451px) and (orientation:portrait) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media screen and (orientation:landscape) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}