.Timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: aqua;
  direction: ltr;

  @media screen and (min-width: 451px) and (orientation:portrait) {
    font-size: 2rem;
  }
}