$maxScore: 3; // if changed update in config.js too

$star: #ffde37;

$dashboard-width: calc(7.2rem + 1vw);

$small-font: 1.2rem;
$large-font: 1.5rem;

$small-button: 1.6rem;
$large-button: 2rem;

$small-star: 1.3rem;
$medium-star: 1.5rem;
$large-star: 1.7rem;

$fruits-background: white;
$fruits-background-matched: #2f0b6b;

$space-background: white;
$space-background-matched: #556080;

$dev-background: #3f4a43;
$dev-background-matched: #f2f2f2;
